<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table">
  <thead>
    <tr>
      <td scope="col">NOME : </td>
      <td scope="col"><%=@user.nome%></td>
    </tr>
    <tr>
      <td scope="col">ENDEREÇO : </td>
      <td scope="col"><%=@user.endereco%></td>
    </tr>
    <tr>
      <td scope="col">E-MAIL : </td>
      <td scope="col"><%=@user.email%></td>
    </tr>
    <tr>
      <td scope="col">CPF : </td>
      <td scope="col"><%=@user.cpf%></td>
    </tr>
    <tr>
      <td scope="col">TELEFONE : </td>
      <td scope="col"><%=@user.telefone%></td>
    </tr>
  </thead>
</table>
<a class="btn btn-primary" href="#" role="button">editar</a>
</body>
</html>